/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.iconbtn{
	-fx-border-radius: 75%;
	-fx-border-color: #4CAF50; /* Green */
	-fx-background-radius: 75%;
}

.normalbtn{
	-fx-border-radius: 12px;
	-fx-background-color: white;
	-fx-background-radius: 12px;
	-fx-color-label-visible: black;
	-fx-border-color: black;
}

.normalbtn:hover{
	-fx-border-radius: 12px;
	-fx-background-color: #555555;
	-fx-background-radius: 12px;
	-fx-text-fill: white;
}


